{% if site.github-pages %}
<div class="content-header">
    <img class="header-image" src="/Woof/assets/Header.png" alt="Header Image">
    <img class="profile-image" src="/Woof/assets/profile-image.png" alt="Profile Image">
    <button type="button"><span class="follow_text">Follow</span></button>
    <br>
    <span class="user-name">Alek Vasek</span>
    <br>
    <span class="user-at">@AlekVasek</span>
    <br>
    <p class="user-description">This is Alek's test account for Wolf</p>
    <span class="user-location"><i class="fa-solid fa-location-dot"></i> State, USA</span>
    <span class="user-link"><i class="fa-solid fa-link"></i> alekthegenius.github.io</span>
    <span class="user-join-date"><i class="fa-solid fa-calendar-days"></i> Joined Month Year</span>
    <br>
    <span class="user-following">(Number of Following) Following</span>
    <span class="user-followers">(Number of Followers) Followers</span>
</div>
{% else %}
<div class="content-header">
    <img class="header-image" src="/assets/Header.png" alt="Header Image">
    <img class="profile-image" src="/assets/profile-image.png" alt="Profile Image">
    <button type="button"><span class="follow_text">Follow</span></button>
    <br>
    <span class="user-name">Alek Vasek</span>
    <br>
    <span class="user-at">@AlekVasek</span>
    <br>
    <p class="user-description">This is Alek's test account for Wolf</p>
    <span class="user-location"><i class="fa-solid fa-location-dot"></i> State, USA</span>
    <span class="user-link"><i class="fa-solid fa-link"></i> alekthegenius.github.io</span>
    <span class="user-join-date"><i class="fa-solid fa-calendar-days"></i> Joined Month Year</span>
    <br>
    <span class="user-following">(Number of Following) Following</span>
    <span class="user-followers">(Number of Followers) Followers</span>
</div>
{% endif %}