{% if site.github-pages %}
<div class="content-header">
    <img class="header-image" src="/Woof/assets/Header.png" alt="Header Image">
    <img class="profile-image" src="/Woof/assets/profile-image.png" alt="Profile Image">
    <button type="button" class="follow-button"><span class="follow_text">Follow</span></button>
    <br>
    <span class="user-name">{{ site.author.name }}</span>
    <br>
    <span class="user-at">@AlekVasek</span>
    <p class="user-description">This is Alek's test account for Woof</p>
    <div><span class="user-location details"><i class="fa-solid fa-location-dot"></i> State, USA</span></div>
    <div><a class="user-link details" href="https://alekthegenius.github.io/"><i class="fa-solid fa-link"></i> alekthegenius.github.io</a></div>
    <div><span class="user-join-date details"><i class="fa-solid fa-calendar-days"></i> Joined Month Year</span></div>
</div>
{% else %}
<div class="content-header">
    <img class="header-image" src="/assets/Header.png" alt="Header Image">
    <img class="profile-image" src="/assets/profile-image.png" alt="Profile Image">
    <button type="button" class="follow-button"><span class="follow_text">Follow</span></button>
    <br>
    <span class="user-name">{{ site.author.name }}</span>
    <br>
    <span class="user-at">@AlekVasek</span>
    <p class="user-description">This is Alek's test account for Woof</p>
    <div><span class="user-location details"><i class="fa-solid fa-location-dot"></i> State, USA</span></div>
    <div><a class="user-link details" href="https://alekthegenius.github.io/"><i class="fa-solid fa-link"></i> alekthegenius.github.io</a></div>
    <div><span class="user-join-date details"><i class="fa-solid fa-calendar-days"></i> Joined Month Year</span></div>
</div>
{% endif %}
