{% if site.github-pages %}
<div class="content-header">
    <img class="header-image" src="/Woof/assets/Header.png" alt="Header Image">
    <img class="profile-image" src="/Woof/assets/profile-image.png" alt="Profile Image">
    <button type="button"><span class="follow_text">Follow</span></button>
    <span class="user-name">Alek Vasek</span>
    <br>
    <span class="user-at-name">@AlekVasek</span>
    <br>
    <p class="user-description">This is Alek's test account for Wolf</p>
    <span class="user-location">(Location Icon) State, USA</span>
    <span class="user-link">(Link Icon) example.com</span>
    <span class="user-join-date">(Date Icon) Joined Month Year</span>
    <br>
    <span class="user-following">(Number of Following) Following</span>
    <br>
    <span class="user-followers">(Number of Followers) Followers</span>
</div>
{% else %}
<div class="content-header">
    <img class="header-image" src="/assets/Header.png" alt="Header Image">
    <img class="profile-image" src="/assets/profile-image.png" alt="Profile Image">
    <button type="button"><span class="follow_text">Follow</span></button>
    <span class="user-name">Alek Vasek</span>
    <br>
    <span class="user-at-name">@AlekVasek</span>
    <br>
    <p class="user-description">This is Alek's test account for Wolf</p>
    <span class="user-location">(Location Icon) State, USA</span>
    <span class="user-link">(Link Icon) example.com</span>
    <span class="user-join-date">(Date Icon) Joined Month Year</span>
    <br>
    <span class="user-following">(Number of Following) Following</span>
    <br>
    <span class="user-followers">(Number of Followers) Followers</span>
</div>
{% endif %}