{% if site.github-pages %}
  <div class="back-button">
    <a href="/Woof"><img alt="Woof" style="height: 55px; width: 55px;" class="nav_icon" src="https://alekthegenius.github.io/Woof/assets/icon.png" ></a>
    </div>
    <div class="button">
      <a href="/" ><i class="fa-brands fa-github" style="font-size: 20px; margin-top: 25px;"></i><span class="navText">  Github</span></a>
    </div>
{% else %}
  <div class="back-button">
    <a href="/"><img alt="Woof" style="height: 55px; width: 55px;" class="nav_icon" src="/assets/icon.png" ></a>
    </div>
    <!-- Add functionality later -->
    <div class="button">
      <a href="/" ><i class="fa-brands fa-github" style="font-size: 20px; margin-top: 25px;"></i><span class="navText">  Github</span></a>
    </div>  
{% endif %}
