---
layout: default
---

<div class="home">

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <div class="row">
    <div class="column nav_column">
      {%- include nav_column.html -%}
    </div>
    <div class="column content">
      <div class="nav-bar">
        {%- include nav_bar.html -%}
      </div>
      {%- include content-header.html -%}
      {%- include content_column.html -%}
    </div>
    <div class="column side-panel">
      <div class="about-me">
        {%- include side-panel.html -%}
      </div>
    </div>
  </div>
  

</div>
