---
layout: default
---

<div class="home">

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <div class="row">
    <div class="column nav_column">
      {%- include nav_column.html -%}
    </div>
    <div class="column content">
      {%- include content-header.html -%}
      {%- include content_column.html -%}
    </div>
    <div class="column about-me">
      <script src="https://www.biblegateway.com/votd/votd.write.callback.js"></script>
      <script src="https://www.biblegateway.com/votd/get/?format=json&version=ESV&callback=BG.votdWriteCallback"></script>
    </div>
  </div>
  

</div>
